@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --clr-text: hsl(25, 20%, 10%);
  --clr-body: hsl(36, 34%, 95%);
  --clr-background: hsl(120, 100%, 98%);
  --clr-primary: hsl(155, 14%, 64%);
  --clr-primary-3: hsla(155, 14%, 64%, 0.3);
  --clr-primary-2: hsla(155, 14%, 64%, 0.2);
  --clr-priority-1: hsl(230, 39%, 56%);
  --clr-priority-2: hsl(26, 68%, 57%);
  --clr-priority-3: hsl(348, 49%, 46%);
  

  --ff-base: "Comfortaa", serif;
  --ff-accent: "Nunito", serif;

  --fw-regular: 400;
  --fw-semi-bold: 700;
  --fw-bold: 900;

  --fs-100: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --fs-200: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --fs-300: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --fs-400: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --fs-500: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --fs-600: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --fs-700: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --fs-800: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  line-height: 1.5;
  color: var(--clr-text);
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: var(--fs-700);
}

h2 {
  font-size: var(--fs-600);
}

h3 {
  font-size: var(--fs-500);
}


button {
  background-color: transparent;
  border: none;
  width: fit-content;
  font-size: var(--fs-300);
  padding: 1rem 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

button:hover {
  background-color: var(--clr-primary-2);
}

.btn-task {
  background-color: var(--clr-primary-2);
  padding-inline: 5rem;
}

.btn-task:hover {
  background-color: var(--clr-primary-3);
}

.flow > * + * {
  --flow-space: 1em;
  margin-top: var(--flow-space, 1em);
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-primary-3 {
  background-color: var(--clr-primary-3);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}

.p-1 {
  padding: 1rem;
}

.pb-1 {
  padding: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
  min-height: 100vh;
  min-width: 100vw;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

header {
  grid-area: header;
}

aside {
  grid-area: menu;
}

main {
  grid-area: main;
  display: grid;
  grid-template-rows: 60px 1fr;
  justify-items: center;
}

footer {
  grid-area: footer;
  font-size: var(--fs-200);
  text-align: center;
}
